@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueMachina-Black';
  src: url('../fonts/NeueMachina/NeueMachina-Black.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Bold';
  src: url('../fonts/NeueMachina/NeueMachina-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Medium';
  src: url('../fonts/NeueMachina/NeueMachina-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Light';
  src: url('../fonts/NeueMachina/NeueMachina-Light.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('../fonts/NeueMachina/NeueMachina-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Ultrabold';
  src: url('../fonts/NeueMachina/NeueMachina-Ultrabold.otf');
  font-display: swap;
}

.small-btn {
  @apply px-6 py-3 bg-primary font-ultraBold text-black;

  &:hover {
    @apply cursor-pointer;
  }
}

.large-btn {
  @apply px-6 py-4 bg-primary font-ultraBold text-black;

  &:hover {
    @apply cursor-pointer;
  }
}

.element-section {
  @apply relative pt-[115px] pb-[110px] px-0;
}
