@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ApfelGrotezk-Regular';
  src: url('../fonts/apfelGrotezk/ApfelGrotezk-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'ApfelGrotezk-RegularBrukt';
  src: url('../fonts/apfelGrotezk/ApfelGrotezk-RegularBrukt.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Black';
  src: url('../fonts/NeueMachina/NeueMachina-Black.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Bold';
  src: url('../fonts/NeueMachina/NeueMachina-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Medium';
  src: url('../fonts/NeueMachina/NeueMachina-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Light';
  src: url('../fonts/NeueMachina/NeueMachina-Light.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('../fonts/NeueMachina/NeueMachina-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Ultrabold';
  src: url('../fonts/NeueMachina/NeueMachina-Ultrabold.otf');
  font-display: swap;
}


.small-btn {
  @apply px-6 py-3 bg-primary/50 font-ultraBold text-black;

  &:hover {
    @apply cursor-pointer;
  }
}

.large-btn {
  @apply px-6 py-4 text-lg bg-primary font-ultraBold text-black;

  &:hover {
    @apply cursor-pointer;
  }
}

.element-section {
  @apply relative pt-14 pb-12 lg:pt-[115px] lg:pb-[110px] px-0;
}

.footer-section {
  @apply relative py-10 px-0;
}

.outline-btn {
  @apply px-6 py-4 text-lg bg-transparent font-ultraBold text-black border border-black;
}

.outline-btn-gray {
  @apply flex items-center justify-center box-border px-6 py-1 rounded-md text-lg bg-transparent font-ultraBold text-gray border-2 border-gray min-w-custom-button min-h-custom-button;
}

h2 {
  @apply text-3xl text-left lg:text-5xl;
}

h3 {
  @apply text-3xl text-left lg:text-5xl;
}

h5 {
  @apply text-xl;
}

p {
  @apply text-base font-description font-normal text-light;
}

.transform-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.slick-list {
  @apply relative block overflow-hidden duration-300 ease-out scroll-smooth m-0 p-0;
}

.slick-track {
  @apply opacity-100 w-[1736px] flex flex-wrap;
}

.slick-slide {
  @apply w-1/3 h-[400px] lg:h-[543px];
  
  & > div:nth-child(2) .content {
    @apply w-[44%];
  }
}

.slick-slide-2 {
  @apply w-1/3 h-[250px];
  
  & > div {
    .content {
      @apply min-h-slick-slide-custom;
    }
  }
  
}



.line_dash {
  @apply absolute left-[11px] z-20 h-[90%] w-[1px] border-l-[1px] border-dashed border-dark2;
}

.line_dash_2 {
  @apply absolute left-[11px] top-24 z-20 h-full w-[1px] border-l-[1px] border-dashed border-dark2;
}